<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeFoody"
        tools:targetApi="31">
        <activity
            android:name=".chefsendotp"
            android:exported="false" />
        <activity
            android:name=".chefforgotpassword"
            android:exported="false" />
        <activity
            android:name=".cheffoodpanel_bottomnavigation"
            android:exported="false" />
        <activity
            android:name=".chef_phonverify"
            android:exported="false" />
        <activity
            android:name=".chef_verifyphone"
            android:exported="false" />
        <activity
            android:name=".Delivery_Register"
            android:exported="false" />
        <activity
            android:name=".Delivery_Loginphone"
            android:exported="false" />
        <activity
            android:name=".Delivery_Loginemail"
            android:exported="false" />
        <activity
            android:name=".Cust_Register"
            android:exported="false" />
        <activity
            android:name=".Cust_Loginphone"
            android:exported="false" />
        <activity
            android:name=".Cust_Loginemail"
            android:exported="false" />
        <activity
            android:name=".Chefregister"
            android:exported="false" />
        <activity
            android:name=".Chefloginphone"
            android:exported="false" />
        <activity
            android:name=".Chefloginemail"
            android:exported="false" />
        <activity
            android:name=".chooseone"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>